@model List<Manect.Data.Entities.AppFile>

@foreach (var file in Model)
{
    double length = Math.Round((double) file.Length / 1048576, 2);
    <div class="option-file" id="flagDelete-@file.Id">
        <div class="file-info">
            <div class="file-name" title="Имя файла">@file.Name</div>
            <div style="margin-left: auto" title="Размер файла">
                @length<span>МБ</span>
            </div>
        </div>
        <div class="file-act" title="Удалить файл" onclick="return deleteFile(@file.StageId, @file.Id);">
            <img src="/image/icon/trash.svg" alt="icon">
        </div>
        <a class="file-act" href="@Url.Action("DownloadFile", "Project", new {fileId = file.Id})">
            <div style="margin-left: auto" title="Скачать файл">
                <img src="~/image/icon/dowload48.png" alt="icon">
            </div>
        </a>
    </div>
}