@using Manect.Data.Entities;
@model Manect.Data.Entities.Project
@{
    Stage stage = Model.Stages.FirstOrDefault();
}
<ul class="project-step">
    <li class="stage-9999">
        <form class="project-step" asp-controller="Project" asp-action="SaveStage">
            <div class="project-steps__info" width: style="width: 522px;">
                <div class="project-steps__title">
                    <div class="checkbox">
                        <input id="step-status" hidden value="@stage.Status" />
                        <div id="step-name" class="checkbox__text" contenteditable="true" style="margin-left:45px;">@stage.Name</div>
                        
                    </div>
                </div>
                <input hidden id="step-time" value="@stage.CreationDate.ToString("HH:mm:ss")" />
                <div class="project-steps__deadline" style="margin-top: 0px;">Дедлайн:<input id="step-expiration_date" type="date" name="ExpirationDate" value="@stage.ExpirationDate.ToString("yyyy-MM-dd")" /></div>
                <div class="project-steps__comments">
                    <input id="step-comment" type="text" name="Comment" placeholder="Комментарии" value="@stage.Comment" style="width: 100%;">
                </div>
            </div>

            <div class="project-steps__date">Дата:<input id="step-creation_date" type="date" name="CreationDate" value="@stage.CreationDate.ToString("yyyy-MM-dd")" /></div>
            <div class="project-steps__users" style="margin-left: 102px;">
                <div class="select">
                    @if (Model.Executor.Id != stage.ExecutorId)
                    {
                        <a class="select-box" onclick="return clickSelectBox();" style="cursor:pointer" title="Изменить исполнителя"><img src="/image/icon/add_user.svg" alt="icon"><span>@stage.Executor.FirstName @stage.Executor.LastName</span></a>
                    }
                    else
                    {
                        <a class="select-box" onclick="return clickSelectBox();" style="cursor:pointer" title="Изменить исполнителя"><img src="/image/icon/add_user.svg" alt="icon"><span></span></a>
                    }
                    <div class="select-options">
                        <input hidden id="step-executor_Id" name="executorId" type="number" value="@stage.ExecutorId" />
                        <div class="option" data-id="@Model.Executor.Id"><span class="name">Без доп. исполнителя</span></div>
                        @foreach (Executor executor in ViewBag.Executors)
                        {
                            <div class="option" data-id="@executor.Id"><span class="icon"></span><span class="name">@executor.FirstName @executor.LastName</span></div>
                        }
                    </div>
                </div>
            </div>
        </form>
        <div class="project-steps__trash" style="margin-left: 10px;" title="Удалить этап">
            <form asp-controller="Project" asp-action="DeleteStage">
                <input hidden asp-for=@stage.Id name="stageId" />
                <input hidden asp-for=@stage.ProjectId name="projectId" />
                <button>
                    <img src="/image/icon/trash.svg" alt="icon">
                </button>
            </form>
        </div>
        <div class="project-steps__cancel" style="margin-left: 40px;"><button onclick="return hideStageForm();"><img src="~/image/icon/cancel.png" title="Отмена" /></button></div>
        <div class="project-steps__save"><button onclick="return clickSaveStageButton(@stage.Id);"><img src="~/image/icon/save.png" title="Сохранить изменения" /></button></div>
    </li>
</ul>

<script>
    $(function () {
        clickSelectBox();
    });

    function clickSelectBox() {
        $(".select-box").on("click", (function (e) {
            $(this).siblings(".select-options").is(":visible") ? t(".select-options").hide() : ($(".select-options").hide(),
                $(this).siblings(".select-options").css("display", "flex"), e.stopPropagation())
            deleteFileList();
        }
        )),
            $(".select-options").on("click", ".option", (function () {
                $(this).closest(".select").find(".select-box span").html($(this).find("span.name").text()),
                    $('#step-executor_Id[type=number]').val($(this).data("id")),
                    $(".select-options").hide()
            }
            )),
            $(document).on("click", (function (e) {
                $(".option").is(e.target) && $(".select-options").hide()
            }
            ))
    }
</script>

<script src="~/js/vendors/moment.min.js"></script>